


.res_cont_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    width: 100%;
  }
  
  .res_cont_titles_box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 15vh;
  }
  
  .res_cont_title {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .res_cont_subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .res_cont_box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
  }
  
  .res_cont_row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  
  .res_cont_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5rem;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 1rem;
  }
  
  .res_cont_placeholder {
    color: #575454;
  }
  
  .res_cont_row_buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  
  .res_cont_input {
    width: 100%;
    font-size: 1.3rem;
    border: 1px solid #000000;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
  
  .res_cont_label{
      font-size: 1.4rem;
      font-weight: 600;
  }
  
  .res_cont_cancel {
      margin-right: 1rem;
      background-color: transparent;
      color: #6F7271;
      text-align: center;
      font-size: 1.5rem;
      border: 1px solid #6F7271;
      width: 10%;
      border-radius: .3rem;
      height: 3rem;
    }
  
    .res_cont_accept {
      margin-right: 1rem;
      background-color: transparent;
      color: #FF0F00;
      text-align: center;
      font-size: 1.5rem;
      border: 1px solid #FF0F00;
      width: 10%;
      border-radius: .3rem;
    }
  
    .res_cont_cancel:hover{
      cursor: pointer;
    }
    .res_cont_accept:hover{
      cursor: pointer;
    }

    .res_cont_table {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        margin-top: 2rem;
      }
      
      .res_cont_table tbody tr:nth-child(odd) {
        background-color: #f2f2f2; /* Gris */
      }
      
      .res_cont_table tbody tr:nth-child(even) {
        background-color: #ffffff; /* Blanco */
      }
      
      .res_cont_table_tr{
          height: 5rem;
      }